# content based recommender system

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
triplets=pd.read_table("kaggle_visible_evaluation_triplets.txt")

In [3]:
triplets.columns

Index(['fd50c4007b68a3737fe052d5a4f78ce8aa117f3d', 'SOBONKR12A58A7A7E0', '1'], dtype='object')

In [4]:
triplets=triplets.rename(columns={'fd50c4007b68a3737fe052d5a4f78ce8aa117f3d':'user_id','SOBONKR12A58A7A7E0':'song_id','1':'no.of times listened'})

In [5]:
triplets.head()

,user_id,song_id,no.of times listened
0,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SOEGIYH12A6D4FC0E3,1
1,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SOFLJQZ12A6D4FADA6,1
2,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SOHTKMO12AB01843B0,1
3,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SODQZCY12A6D4F9D11,1
4,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SOXLOQG12AF72A2D55,1

In [6]:
triplets.shape

(1450932, 3)

In [7]:
unique_tracks=pd.read_csv('unique_tracks.txt',sep='<SEP>',names=['track_id','song_id','artist_name','release'])

In [8]:
unique_tracks.head()

             track_id             song_id       artist_name            release
0  TRMMMYQ128F932D901  SOQMMHC12AB0180CB8  Faster Pussy cat       Silent Night
1  TRMMMKD128F425225D  SOVFVAK12A8C1350D9  Karkkiautomaatti        Tanssi vaan
2  TRMMMRX128F93187D9  SOGTUKN12AB017F4F1    Hudson Mohawke  No One Could Ever
3  TRMMMCH128F425532C  SOBNYVR12A8C13558C       Yerba Brava     Si Vos QuerÃ©s
4  TRMMMWA128F426B589  SOHSBXH12A8C13B0DF        Der Mystic   Tangle Of Aspens

In [9]:
songs=pd.read_csv('kaggle_songs.txt')

In [10]:
songs.columns=['song_id']

In [11]:
songs.head()

                song_id
0  SOAAADE12A6D4F80CC 2
1  SOAAADF12A8C13DF62 3
2  SOAAADZ12A8C1334FB 4
3  SOAAAFI12A6D4F9C66 5
4  SOAAAGK12AB0189572 6

In [12]:
users=pd.read_csv('kaggle_users.txt')

In [13]:
users.columns=['user_id']

In [14]:
users.head()

                                    user_id
0  d7083f5e1d50c264277d624340edaaf3dc16095b
1  d68dc6fc25248234590d7668a11e3335534ae4b4
2  9be82340a8b5ef32357fe5af957ccd54736ece95
3  841b2394ae3a9febbd6b06497b4a8ee8eb24b7f8
4  91b8fac7dc5e03f6cfaf6e2aa7171f14a8354d62

In [15]:
print(triplets.shape)
print(unique_tracks.shape)

(1450932, 3)
(1000000, 4)

In [16]:
triplets.head()

,user_id,song_id,no.of times listened
0,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SOEGIYH12A6D4FC0E3,1
1,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SOFLJQZ12A6D4FADA6,1
2,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SOHTKMO12AB01843B0,1
3,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SODQZCY12A6D4F9D11,1
4,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SOXLOQG12AF72A2D55,1

In [17]:
unique_tracks.head()

             track_id             song_id       artist_name            release
0  TRMMMYQ128F932D901  SOQMMHC12AB0180CB8  Faster Pussy cat       Silent Night
1  TRMMMKD128F425225D  SOVFVAK12A8C1350D9  Karkkiautomaatti        Tanssi vaan
2  TRMMMRX128F93187D9  SOGTUKN12AB017F4F1    Hudson Mohawke  No One Could Ever
3  TRMMMCH128F425532C  SOBNYVR12A8C13558C       Yerba Brava     Si Vos QuerÃ©s
4  TRMMMWA128F426B589  SOHSBXH12A8C13B0DF        Der Mystic   Tangle Of Aspens

In [18]:
df=pd.merge(triplets,unique_tracks,on='song_id')
df.head()

,user_id,song_id,no.of times listened,track_id,artist_name,release
0,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SOEGIYH12A6D4FC0E3,1,TRLGMFJ128F4217DBE,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...
1,248378ac27e1745d6a9d59392b7dc5b02a6186a6,SOEGIYH12A6D4FC0E3,1,TRLGMFJ128F4217DBE,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...
2,7c49f3e11a6fce79ae60b44df2a3edcf6eb2e163,SOEGIYH12A6D4FC0E3,1,TRLGMFJ128F4217DBE,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...
3,8061f61372876878c2d67bc49b3ddbd2c83d69e2,SOEGIYH12A6D4FC0E3,1,TRLGMFJ128F4217DBE,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...
4,d47c829c4ff6270f9ab82ca36b2805951b62a208,SOEGIYH12A6D4FC0E3,1,TRLGMFJ128F4217DBE,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...

In [19]:
#Removing track_id column as it is not needed for us 
df.drop('track_id', axis=1, inplace=True)

In [20]:
df.head()

,user_id,song_id,no.of times listened,artist_name,release
0,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SOEGIYH12A6D4FC0E3,1,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...
1,248378ac27e1745d6a9d59392b7dc5b02a6186a6,SOEGIYH12A6D4FC0E3,1,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...
2,7c49f3e11a6fce79ae60b44df2a3edcf6eb2e163,SOEGIYH12A6D4FC0E3,1,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...
3,8061f61372876878c2d67bc49b3ddbd2c83d69e2,SOEGIYH12A6D4FC0E3,1,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...
4,d47c829c4ff6270f9ab82ca36b2805951b62a208,SOEGIYH12A6D4FC0E3,1,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...

In [21]:
df.describe()
#it shows the frequency of the songs

       no.of times listened
count          1.491951e+06
mean           3.179720e+00
std            7.015025e+00
min            1.000000e+00
25%            1.000000e+00
50%            1.000000e+00
75%            3.000000e+00
max            9.230000e+02

In [22]:
print('Total no.of songs :',df['song_id'].nunique())
print('Total no.of users :',df['user_id'].nunique())
print('Total no.of artists :',df['artist_name'].nunique())
print('Total no.of release :',df['release'].nunique())

Total no.of songs : 163206
Total no.of users : 110000
Total no.of artists : 28367
Total no.of release : 137674

In [23]:
#checking for null values
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1491951 entries, 0 to 1491950
Data columns (total 5 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   user_id               1491951 non-null  object
 1   song_id               1491951 non-null  object
 2   no.of times listened  1491951 non-null  int64
 3   artist_name           1491951 non-null  object
 4   release               1491950 non-null  object
dtypes: int64(1), object(4)
memory usage: 68.3+ MB

In [24]:
#As there is only 1 null value in release feature we can drop that row

In [25]:
df.dropna(axis=0,how='any',inplace=True)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1491950 entries, 0 to 1491950
Data columns (total 5 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   user_id               1491950 non-null  object
 1   song_id               1491950 non-null  object
 2   no.of times listened  1491950 non-null  int64
 3   artist_name           1491950 non-null  object
 4   release               1491950 non-null  object
dtypes: int64(1), object(4)
memory usage: 68.3+ MB

In [27]:
#top 10 played songs
df.groupby(["song_id"]).sum().sort_values("no.of times listened",ascending=False).head(10)

                    no.of times listened
song_id
SOBONKR12A58A7A7E0                 35431
SOAUWYT12A81C206F1                 33179
SOSXLTC12AF72A7F54                 24359
SOFRQTD12A81C233C0                 19454
SOEGIYH12A6D4FC0E3                 17115
SOAXGDH12A8C13F8A1                 14279
SONYKOW12AB01849C9                 12392
SOVDSJC12A58A7A271                 11610
SOWCKVR12A8C142411                 10926
SOUFTBI12AB0183F65                 10794

In [28]:
#top 10 artists
df.groupby(["artist_name"]).sum().sort_values("no.of times listened",ascending=False).head(10)

                        no.of times listened
artist_name
Kings Of Leon                          43775
Coldplay                               36203
Dwight Yoakam                          35687
BjÃ¶rk                                 35210
Justin Bieber                          31295
Florence + The Machine                 28224
Eminem                                 22914
Muse                                   22645
Taylor Swift                           21844
Alliance Ethnik                        21603

## Data preprocessing

In [29]:
df.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
1491946    False
1491947    False
1491948    False
1491949    False
1491950    False
Length: 1491950, dtype: bool

In [30]:
df.duplicated().value_counts()

False    1456563
True       35387
dtype: int64

In [31]:
df.drop_duplicates(keep='first',inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456563 entries, 0 to 1491950
Data columns (total 5 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   user_id               1456563 non-null  object
 1   song_id               1456563 non-null  object
 2   no.of times listened  1456563 non-null  int64
 3   artist_name           1456563 non-null  object
 4   release               1456563 non-null  object
dtypes: int64(1), object(4)
memory usage: 66.7+ MB

In [33]:
df["songs"]=df["release"]+"-"+df["artist_name"]
df.head(1)

,user_id,song_id,no.of times listened,artist_name,release,songs
0,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SOEGIYH12A6D4FC0E3,1,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...,Horn Concerto No. 4 in E flat K495: II. Romanc...

In [34]:
df_temp=df.drop(["artist_name","release"] , axis=1 )

In [35]:
df_temp["songs"][0]

'Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)-Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner'

In [36]:
df_temp.head(20)

,user_id,song_id,no.of times listened,songs
0,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SOEGIYH12A6D4FC0E3,1,Horn Concerto No. 4 in E flat K495: II. Romanc...
1,248378ac27e1745d6a9d59392b7dc5b02a6186a6,SOEGIYH12A6D4FC0E3,1,Horn Concerto No. 4 in E flat K495: II. Romanc...
2,7c49f3e11a6fce79ae60b44df2a3edcf6eb2e163,SOEGIYH12A6D4FC0E3,1,Horn Concerto No. 4 in E flat K495: II. Romanc...
3,8061f61372876878c2d67bc49b3ddbd2c83d69e2,SOEGIYH12A6D4FC0E3,1,Horn Concerto No. 4 in E flat K495: II. Romanc...
4,d47c829c4ff6270f9ab82ca36b2805951b62a208,SOEGIYH12A6D4FC0E3,1,Horn Concerto No. 4 in E flat K495: II. Romanc...
5,a344d1f94e0f6d5783860f62d8bc8ba2fec3d530,SOEGIYH12A6D4FC0E3,2,Horn Concerto No. 4 in E flat K495: II. Romanc...
6,ab3883c6182f050d6bbca6f2cd8983eb81084417,SOEGIYH12A6D4FC0E3,6,Horn Concerto No. 4 in E flat K495: II. Romanc...
7,ff8891b901eed1a3abc9bd4c53a17d2bcdc0ead7,SOEGIYH12A6D4FC0E3,1,Horn Concerto No. 4 in E flat K495: II. Romanc...
8,4fbde29be137e7179046c148f9e15db17c3278be,SOEGIYH12A6D4FC0E3,5,Horn Concerto No. 4 in E flat K495: II. Romanc...
9,93d158458cbf375218ae7de7fd428bf94cc1491e,SOEGIYH12A6D4FC0E3,1,Horn Concerto No. 4 in E flat K495: II. Romanc...
10,5495dccfae0b78a23c60c95db39e1e1d6e99ba6d,SOEGIYH12A6D4FC0E3,1,Horn Concerto No. 4 in E flat K495: II. Romanc...
11,5f3cd0eac9cdeb89958e3927f0f7b230ada8a24f,SOEGIYH12A6D4FC0E3,5,Horn Concerto No. 4 in E flat K495: II. Romanc...
12,cb91826d83e23a0e7423c114c233a8618e11bab3,SOEGIYH12A6D4FC0E3,6,Horn Concerto No. 4 in E flat K495: II. Romanc...
13,58e850b81533418bc6a1aaaf300c3f284fd85bac,SOEGIYH12A6D4FC0E3,1,Horn Concerto No. 4 in E flat K495: II. Romanc...
14,9ca08e25a5c4144b1f2cd6890d8cb65717e7c73e,SOEGIYH12A6D4FC0E3,11,Horn Concerto No. 4 in E flat K495: II. Romanc...
15,1e6764b1702c8cc0a1c7920263e1ff2f08044bf9,SOEGIYH12A6D4FC0E3,1,Horn Concerto No. 4 in E flat K495: II. Romanc...
16,ef8a2ca55ef04a1725b5ffb6b6247b9c1c2b62c0,SOEGIYH12A6D4FC0E3,1,Horn Concerto No. 4 in E flat K495: II. Romanc...
17,1d71f0def8d213105e5fd39288da226d4f16eafb,SOEGIYH12A6D4FC0E3,2,Horn Concerto No. 4 in E flat K495: II. Romanc...
18,9571a0673d1c0721b09e7f0d0e7d4a715db3dc1f,SOEGIYH12A6D4FC0E3,7,Horn Concerto No. 4 in E flat K495: II. Romanc...
19,9d05fc6bf1116e17dff791309a6fdcb6d03c1dcf,SOEGIYH12A6D4FC0E3,1,Horn Concerto No. 4 in E flat K495: II. Romanc...

## Our goal is to recommend similar songs to user based on artist name and release

In [37]:
#TFIDF
from sklearn.feature_extraction.text import TfidfVectorizer

tfv=TfidfVectorizer( stop_words="english" )

df_temp["songs"]= df_temp["songs"].fillna('')

In [38]:
tfv_matrix = tfv.fit_transform(df_temp["songs"][:30000])   #not able to take more than 30000 samples

In [39]:
tfv_matrix

<30000x251 sparse matrix of type '<class 'numpy.float64'>'
	with 172413 stored elements in Compressed Sparse Row format>

In [40]:
tfv_matrix.shape

(30000, 251)

In [42]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfv_matrix,tfv_matrix)

In [43]:
cosine_sim[0]

array([1., 1., 1., ..., 0., 0., 0.])

In [41]:
from sklearn.metrics.pairwise import sigmoid_kernel

sig = sigmoid_kernel(tfv_matrix , tfv_matrix)

In [42]:
sig[0]

array([0.76219261, 0.76219261, 0.76219261, ..., 0.76159416, 0.76159416,
       0.76159416])

In [51]:
x=[i for i in range(1,137675)]
indices = pd.Series(x , index=df['release'].drop_duplicates())
indices[29910:29920]

release
Remember His Name                                  29911
Secret Skin                                        29912
Dirty Mack (Explicit)                              29913
Ski Mask Way (Eminem Remix)                        29914
Casting Agents And Cowgirls                        29915
Your Move (Featuring Lifesavas) (Album Version)    29916
Comin' For The Datazz (Explicit)                   29917
Wrong Number                                       29918
Girl Power                                         29919
Use It                                             29920
dtype: int64

In [44]:
sum(indices.value_counts())

137674

In [48]:
def give_rec(release , sig=sig):
    idx=indices[release]
    sig_scores=list(enumerate(sig[idx]))
    sig_scores=sorted(sig_scores,key=lambda x:x[1] , reverse=True)
    sig_scores=sig_scores[1:11]
    
    song_indices=[i[0] for i in sig_scores]
    return df['release'].drop_duplicates().iloc[song_indices]

In [53]:
give_rec("Comin' For The Datazz (Explicit)")

1040210                                               Beauty
1040225                                            Love Drug
1040233                                   Morning Has Broken
1040267                               I Don't Believe In You
1040269    Sgt. Pepper's Lonely Hearts Club Band (feat. J...
1040273                                         High and dry
1040296                  Pow (Forward) (Original) (Explicit)
1040298                                     Godhead's Lament
1040338                         Nicht mit den TÃ¼ren knallen
1040372                                         Mejor Te Vas
Name: release, dtype: object